@import "no-style-please";

@font-face {
    font-family: 'iA Writer Mono';
    src: url('../webfonts/iAWriterMonoS-Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../webfonts/iAWriterMonoS-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/iAWriterMonoS-Italic.woff2') format('woff2'),
    url('../webfonts/iAWriterMonoS-Bold.woff2') format('woff2'),
    url('../webfonts/iAWriterMonoS-BoldItalic.woff2') format('woff2'),
    url('../webfonts/iAWriterMonoS-Bold.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/iAWriterMonoS-BoldItalic.woff') format('woff'),
    url('../webfonts/iAWriterMonoS-Italic.woff') format('woff'),
    url('../webfonts/iAWriterMonoS-Regular.woff') format('woff'),
    url('../webfonts/iAWriterMonoS-Regular.ttf') format('truetype'),
    url('../webfonts/iAWriterMonoS-Italic.ttf') format('truetype'),
    url('../webfonts/iAWriterMonoS-Bold.ttf') format('truetype'),
    url('../webfonts/iAWriterMonoS-BoldItalic.ttf') format('truetype');
  }