---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{% include menu_item.html collection=site.data.menu.entries %}

{{ content }}

<iframe
  title="Dkphhh Subscribe Form"
  style="width:360px;height:183px;background:transparent;border-radius:6px;position:relative;overflow:hidden;border:none"
  allowtransparency="true"
  src="https://embed.mailbrew.com/?id=vymbncp6fe6E&showUser=true&showTitle=true&showPoweredBy=true&description=%E9%80%9A%E8%BF%87%E9%82%AE%E7%AE%B1%E8%AE%A2%E9%98%85%E6%9C%AC%E5%8D%9A%E5%AE%A2%EF%BC%8C%E6%AF%8F%E5%91%A8%E5%85%AD%E4%BD%A0%E5%B0%86%E6%94%B6%E5%88%B0%E6%9B%B4%E6%96%B0&cta=Subscribe&buttonColor=%23f75858&backgroundColor=transparent&textColor=%23262629&invertWithDarkMode=false"
/>